<div class="container">
    <div class="row">
        <div class="col-md-12">
                <h3 class="text-center">Simple Contact page without controller.</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <user-info-card user-data="userInfos.userData1"></user-info-card>
        </div>
        <div class="col-md-4">
            <user-info-card user-data="userInfos.userData2"></user-info-card>
        </div>
        <div class="col-md-4">
            <user-info-card user-data="userInfos.userData3"></user-info-card>
        </div>
    </div>
</div>