<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form role="form">
            <div class="form-group has-feedback">
                <label for="inputName" class="control-label">Name</label>
                <input type="text" class="form-control" name="inputName" placeholder="shams" is-required data-error-message="Please! Give your name." required>
            </div>
            <div class="form-group has-feedback">
                <label for="inputId" class="control-label">Your Id</label>
                <input type="text" class="form-control" name="inputId" placeholder="120216" is-required data-error-message="Please! Give your Id." required>
            </div>
            <!--Submit button-->
            <div class="form-group">
                <button class="btn btn-primary">Sign in</button>
            </div>
        </form>
    </div>
</div>