<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form role="form">
            <div class="form-group has-feedback">
                <label for="inputName" class="control-label">Name</label>
                <input type="text" class="form-control" name="inputName" placeholder="shams" is-required data-error-message="Foobar. Your name plz!! :p" required>
                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                <div class="help-block with-errors"></div>
            </div>
            <!--Submit button-->
            <div class="form-group">
                <button class="btn btn-primary">Sign in</button>
            </div>
        </form>
    </div>
</div>